@font-face {
    font-family: 'Brandon medium';
    src: url(fonts/Brandon_med.otf) format(opentype);
}

body {
    font-family: 'Brandon medium', sans-serif;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.about h1 {
    font-size: 3rem;
    color: #333;
}
