body {
    margin: 0;
    padding: 0;
    color: #333;
}

#navbar {
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name-fields {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name-fields input {
    width: 48%;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

form input:focus,
form textarea:focus {
    border-color: #555;
    outline: none;
}

form textarea {
    resize: vertical;
    height: 150px;
}

form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

.contact-info {
    text-align: left;
    margin-top: 2em;
}

.contact-info p {
    margin: 0.5em 0;
    font-size: 1em;
    color: #444;
}

.contact-info p.name {
    margin-top: 1em;
}

.contact-info p.location {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .name-fields {
        flex-direction: column;
    }

    .container {
        background-color: white;
    }

    .name-fields input {
        width: 100%;
    }

    .contact-info {
        text-align: center;
    }
}