:root {
    --loader-bg: #febe01;
}

@font-face {
    font-family: 'Brandon medium';
    src: url(fonts/Brandon_med.otf) format(opentype);
}

html {
    font-size: 1rem;
    line-height: 1.5;
}

html,
body {
    font-family: 'Brandon medium', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.index-page::-webkit-scrollbar {
    display: none;
}

body.index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--loader-bg);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.loader-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--loader-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

body.index-page.fade-out {
    opacity: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.loader-container {
    text-align: center;
    position: relative;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150%;
    height: auto;
    background-color: transparent;
}

.text-image {
    display: block;
    margin: 1.25rem auto;
    max-width: 100%;
    height: auto;
}

.button {
    margin-top: 1.25rem;
    padding: 0.625rem 1.25rem;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    position: relative;
}

.button:hover {
    background-color: #0056b3;
}