html {
    font-size: 1rem;
    line-height: 1.5;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febe01;
    transition: opacity 1s ease-out;
    flex-direction: column;
}

body.fade-out {
    opacity: 0;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: auto;
}

@keyframes rockOn {
    0% { transform: rotate(0deg); }
    14.29% { transform: rotate(-6deg); }
    28.57% { transform: rotate(6deg); }
    42.86% { transform: rotate(-6deg); }
    57.14% { transform: rotate(6deg); }
    71.43% { transform: rotate(-6deg); }
    85.71% { transform: rotate(6deg); }
    100% { transform: rotate(0deg); }
}

.hand {
    position: absolute;
    bottom: -15vh;
    left: -6vw;
    width: 35vw;
    height: auto;
    transform-origin: bottom center;
}

.hand.animate {
    animation: rockOn 3.5s ease-in-out;
}

.button {
    position: absolute;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 0.125rem solid white;
    font-size: 1.5rem;
    bottom: 6rem;
    right: 10rem;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button {
    position: static;
    margin-top: 2rem;
    margin-left: -2.5rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1440px) {
    .button {
        position: static;
        margin-top: 2rem;
        margin-left: -2.5rem;
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
    }

    .logo {
        width: 14rem;
    }

    .hand {
        width: 475px;
        height: auto;
        bottom: -8vh;
        left: -5vw;
    }

    body {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .button {
        position: static;
        padding: 0.75rem 1.5rem;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    .logo {
        width: 14rem;
    }

    body {
        flex-direction: column;
    }

    .hand {
        display: none;
    }
}
