html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #febe01;
    padding: 1rem 1rem;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar img {
    height: 6rem;
    vertical-align: middle;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 1rem;
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: larger;
    transition: color 0.3s, box-shadow 0.3s;
    position: relative;
}

.navbar a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width 0.3s, left 0.3s;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
}

.navbar a.active {
    color: #fff;
    font-weight: bold;
}

.navbar a.active::after {
    width: 100%;
    left: 0;
}

.navbar .social-icons a {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
}

.navbar .logo a::after {
    display: none;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        font-size: large;
        align-items: center;
        padding-top: 1rem;
    }

    .navbar img {
        height: 5rem;
        vertical-align: middle;
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 0;
        margin: 0;
        max-height: 0; /* Oculta el menú por defecto */
        overflow: hidden; /* Oculta el contenido que exceda el max-height */
        transition: max-height 0.5s ease-out; /* Transición suave */
    }
    
    .navbar ul.show {
        max-height: 500px; /* Ajusta esto según la altura máxima esperada del menú */
    }    

    .navbar-toggle {
        display: block;
        margin-bottom: 1rem;
        font-size: 2rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }    

    .navbar .social-icons {
        justify-content: center;
    }
}
