html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #febe01;
    padding: 1.25rem 1rem;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
}

.navbar img {
    height: 6rem;
    vertical-align: middle;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: x-large;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.25rem;
}

.navbar a:not(:has(img)):hover {
    background-color: #febe01;
    color: #fff;
    border-radius: 0.25rem;
}

.navbar .social-icons a {
    font-size: 2.1rem;
    display: flex;
    align-items: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        font-size: large;
        align-items: center;
    }

    .navbar ul {
        order: 2;
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .navbar ul.show {
        display: flex;
        align-items: center;
    }

    .navbar-toggle {
        display: block;
        margin-bottom: 1rem;
    }

    .navbar .social-icons {
        justify-content: center;
    }
}
