@font-face {
    font-family: 'Brandon medium';
    src: url('../fonts/Brandon_med.otf') format('opentype');
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brandon medium', sans-serif;
    scroll-behavior: smooth;
}

body.work-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

body.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out, background-color 1s ease-in-out;
    background-color: #febe01;
}

body.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    background-color: #febe01;
}

body.bg-white {
    background-color: white;
}

#navbar {
    width: 100%;
    color: white;
    text-align: center;
    top: 0;
    z-index: 1000;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.image-item {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
}

.image-item:hover img {
    transform: translate(-50%, -50%) scale(1.3);
}

.image-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.image-item:hover::before {
    opacity: 1;
}

.image-title,
.image-view {
    position: absolute;
    left: 50%;
    color: yellow;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.image-title {
    top: 40%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

.image-view {
    top: 60%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: violet;
}

.image-item:hover .image-title,
.image-item:hover .image-view {
    opacity: 1;
}

.detail-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    overflow: visible;
}

.content-column {
    margin-bottom: 4rem;
}

.content-column iframe,
.content-column img {
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    border: transparent;
    width: 50%;
    height: auto;
    max-height: 100%;
}

.info-column {
    padding-left: 5rem;
    position: sticky;
    top: 0;
    max-width: 300px;
    font-size: larger;
}

@media (max-width: 1500px) {
    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    .info-column {
        position: static;
        padding-left: 1rem;
        margin-left: 0;
    }

    .content-column iframe,
    .content-column img {
        width: 75%;
        border: transparent;
    }
}

@media (max-width: 800px) {
    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    .detail-view {
        flex-direction: column;
    }

    .content-column iframe,
    .content-column img {
        width: 100%;
    }

    .info-column {
        position: static;
        padding-left: 1rem;
        margin-left: 0;
    }
}